@font-face {
  font-family: Franklin-Gothic-Medium;
  src: url(../fonts/franklin-gothic-medium.ttf);
}
@font-face {
  font-family: Franklin-Gothic-Book;
  src: url(../fonts/franklin-gothic-book.ttf);
}
body {
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  height: 2000px;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.header{
  position: fixed;
  width: 100%;
  max-width: 1250px;
  z-index: 10;
}
.main {
  display: block;
  height: 15%;
}
.main.sticky {
  transition: all 0.4s ease;
  .head-bottom {
    display: none;
  }
  .logo-image {
    display: block;
  }
  .logo-text {
    display: none;
  }
}
.head-top {
  top: 0;
  min-height: 170px;
  background-color: rgba(0, 0, 0, 0.03);
  font-family: Franklin-Gothic-Medium;
}
.block-logo {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: all 0.4s ease;
  float: left;
  width: 30%;
  min-width: 247px;
  height: 170px;
  background-color: #9f1a65;
}
.block-logo-top {
  width: 100%;
  height: 70%;
  text-align: center;
  img {
    padding-top: 20px;
  }
}
.block-logo-bottom {
  height: 30%;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  p {
    color: #ffffff;
    float: right;
    margin: 0;
    padding-left: 10px;
    font-size: 14px;
  }
  img {
    float: left;
    cursor: pointer;
    margin-top: 2px;
  }
  div {
    padding: 15px 25px;
  }
}
.logo-bottom-left {
  float: left;
  label {
    float: left;
  }
}
.logo-bottom-right {
  float: right;
}
.block-title-top {
  float: left;
  height: 100%;
  padding-left: 30px;
  width: calc(100% - 330px);
}
.tittle-top-menu {
  padding-top: 30px;
  margin-left: 10px;
  border-bottom: 1px solid #DADADA;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    float: left;
    &:nth-child(1n+2) {
      float: left;
      padding-left: 50px;
    }
    &:nth-child(1) {
      div {
        background-color: #d33c57;
      }
      a {
        color: #d33c57;
      }
    }
    &:nth-child(2) {
      div {
        background-color: #479e6d;
      }
      a {
        color: #479e6d;
      }
    }
    &:nth-child(3) {
      width: 215px;
      div {
        background-color: #df790e;
      }
      a {
        color: #df790e;
      }
    }
    &:nth-child(4) {
      width: 96px;
      padding-left: 0;
      div {
        background-color: #b2986f;
      }
      a {
        color: #b2986f;
      }
    }
    &:nth-child(5) {
      width: 110px;
      padding: 12px 0;
    }
    &:nth-child(6) {
      padding: 12px 0;
      a {
        color: #544b49;
      }
    }
  }
  a {
    font-size: 16px;
  }
}
.counter-block {
  max-width: 20px;
  height: 12px;
  padding: 1px 2px;
  font-size: 7px;
  color: #ffffff;
  margin-left: 1px;
}
.counter-block-solo {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 110px;
}
.head-search {
  margin: 60px 0 0 40px;
  input {
    width: 100%;
    background-color: transparent !important;
    border-style: solid;
    border: none;
    outline: none;
    border-bottom: 1px solid #DADADA;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 4px;
    padding: 5px 0 5px 30px;
    color: #000000;
    &::-webkit-input-placeholder {
      color: #000000;
    }
    &::-moz-placeholder {
      color: #000000;
    }
  }
}
.head-bottom {
  background-color: rgba(0, 0, 0, 0.03);
  font-family: Franklin-Gothic-Medium;
}
.head-bottom-menu {
  font-size: 12px;
  width: calc(100% - 330px);
  ul {
    font-size: 14px;
    padding-top: 8px;
    line-height: 1.67;
    float: left;
    list-style-type: none;
  }
}
.logo-image {
  display: none;
  margin: 0 0 0 10px;
  float: left;
  img {
    width: 55px;
    margin: 0;
  }
}

#sidebar {
  font-family: Franklin-Gothic-Medium;
  border: 1px solid #999999;
  background: #fff;
  display: block;
  position: fixed;
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  left: -100%;
  transition: left .5s;
  z-index: 2;
  width: 272px;
}
#sidebar.open {
  left: 0;
}
.sidebar-close {
  float: left;
  padding: 10px 0 0 16px;
  label {
    background: url("/img/close.png");
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 20px 0 0 18px;
    margin: 0;
  }
}
.sidebar-menu {
  ul {
    list-style-type: none;
    line-height: 16px;
    font-size: 20px;
    padding: 0;
  }
  li {
    border-bottom: 1px solid #DADADA;
    padding: 12px 15px;
    background: url('/img/arrow.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    &:nth-child(1) {
      a {
        color: #d73855;
      }
    }
    &:nth-child(2) {
      a {
        color: #009e6c;
      }
    }
    &:nth-child(3) {
      a {
        color: #e27900;
      }
    }
    &:nth-child(4) {
      a {
        color: #ae915f;
      }
    }
    &:nth-child(5) {
      a {
        color: #1686ad;
      }
    }
    &:nth-child(6) {
      a {
        color: #6a6a6a;
      }
    }
  }
}
.col-sm-3 {
  width: 100%;
}
.sidebar-head {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #DADADA;
}
.sidebar-language{
  padding: 3px ;
  float: right;
  a {
    color: #aaaaaa;
    font-size: 16px;
    padding: 2px;
  }
  a.active{
    font-size: 20px;
    color: #393635;
  }
}
.sidebar-buttons {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  border-bottom: 1px solid #dadada;
  padding: 5px 10px 10px 10px;
  a {
    width: 49%;
    background-color: #9f1a65;
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
  }
  & a:nth-child(1) {
    float: left;
  }
  & a:nth-child(2) {
    float: right;
  }
}
#sidebar.open {
  left: 8%;
}

