.head-bottom-menu {
  width: calc(100% - 330px);
  padding-left: 25px;
  ul {
    &:nth-child(1) {
      a {
        color: #d23c57;
      }
      padding-left: 22px;
    }
    &:nth-child(2) {
      a {
        color: #169d6d;
      }
      padding-left: 35px;
    }
    &:nth-child(3) {
      a {
        color: #de790e;
      }
      padding-left: 36px;
    }
    &:nth-child(4) {
      a {
        color: #ac9065;
      }
      width: 123px;
      padding-left: 67px;
    }
    &:nth-child(5) {
      color: #1686ad;
      width: 110px;
    }
    &:nth-child(6) {
      a {
        color: #544b49;
      }
    }
  }
}
.tittle-top-menu {
  width: auto;
  padding-left: 0;
}
.head-bottom {
  min-height: 107px;
}
.counter-block-solo {
  color: #1686ad;
}
.counter-block-six {
  padding-top: 12px;
  padding-bottom: 12px;
  a {
    color: #544b49;
  }
}
.block-logo {
  padding: 0;
}
.main.main_scroll {
  .head-top {
    min-height: unset;
  }
  .block-logo {
    height: 50px;
  }
  .block-logo-top {
    display: none;
  }
  .block-title-top-img {
    display: none;
  }
  .tittle-top-menu {
    padding-top: 10px;
    height: auto;
  }
}
@media screen and (max-width:900px) {
  .head-bottom-left {
    min-width: unset;
  }
  .block-title-top {
    display: none;
  }
  .block-logo-top {
    display: none;
  }
  .block-logo {
    height: 50px;
    width: 100%;
  }
  .head-top {
    height: auto;
    min-height: unset;
  }
  .head-bottom {
    min-height: 40px;
  }
  .head-bottom-menu {
    display: none;
  }
  .head-search {
    margin: 20px 25px 25px 40px;
    input {
      width: 100%;
    }
  }

  #sidebar.open {
    left: 0;
  }

  .col-sm-3 {
    width: 100%;
  }
}
.sidebar-head {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #DADADA;
}
.sidebar-language{
  padding: 3px ;
  float: right;
  a {
    color: #aaaaaa;
    font-size: 16px;
    padding: 2px;
  }
  a.active{
    font-size: 20px;
    color: #393635;
  }
}
.sidebar-buttons {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  border-bottom: 1px solid #dadada;
  padding: 5px 10px 10px 10px;
  a {
    width: 49%;
    background-color: #9f1a65;
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
  }
  & a:nth-child(1) {
    float: left;
  }
  & a:nth-child(2) {
    float: right;
  }
}
